

/* .c_input_blue{
    border-color: #60a5fa;
} */
.c_btn_blue{
    background-color: #60a5fa;
    color: #fff;
}
.c_btn_blue:hover{
    background-color: #3b82f6;
}

.c_btn_red{
    background-color: #f87171;
    color: #fff;
}
.c_btn_red:hover{
    background-color: #ef4444;
}
/* 클릭시 파란 테두리 */
.c_input_blue:focus { 
    border-color: #60a5fa;
    outline: 1px solid #60a5fa;
    outline-offset: 1px;
  }

